@model IEnumerable<Sito.Models.Cart>

@{
    ViewBag.Title = "Carrello";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carrello</h2>


@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@if (Model.Count() > 0)
{
    <hr />
    decimal totalprice = 0;

    <div class="container">
        @foreach (Sito.Models.Cart item in Model)
        {
            Html.RenderPartial("CartSub", item);
            totalprice += item.product.price * item.quantity;
        }
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <h4>Prezzo Totale: <b>@totalprice €</b></h4>
            </div>
            <div class="col-lg-9">
                @using (Html.BeginForm("Checkout", "Home", FormMethod.Get))
                {
                    <button type="submit" class="btn btn-warning">Acquista</button>
                }
                </div>
        </div>
    </div>
}