@model IEnumerable<Sito.Models.Cart>

@{
    ViewBag.Title = "Carrello";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carrello</h2>

@{ decimal totalprice = 0;}

@foreach (Sito.Models.Cart item in Model)
{
    Html.RenderPartial("CartSub", item);
    totalprice += item.product.price * item.quantity;
}

<div style="clear: both">
    <br />
    <hr />
</div>

<h3>Prezzo totale: <b>@totalprice €</b></h3>
<button>Acquista</button>
