@model Sito.Models.Checkout

@{
    ViewBag.Title = "Ordine Completato!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Random rnd = new Random();
    string arrivalDate = DateTime.Today.AddDays((double)rnd.Next(1, 14)).ToString("dddd d MMMM yyyy");
}

<h2>Ordine Completato!</h2>
<hr />

<div>
    <p>Il tuo ordine è stato ricevuto con successo!</p>
    <p>Il pacco sarà spedito al seguente indirizzo: <b>@Model.address (@Model.zip_code)</b></p>
    <p>Data di arrivo prevista: <b>@arrivalDate</b></p>
</div>
