@{
    ViewBag.Title = "Contatti";
}
<h2>@ViewBag.Title</h2>
<address>
    Via Biella, 42<br />
    Parma, PR 43124 <br />
    Telefono: 0522-425879
</address>

<address>
    <strong>Supporto:</strong>   <a href="mailto:ali.tosini@gmail.com">ali.tosini@gmail.com</a><br />
</address>